@page
@{ ViewBag.Title = "HTTP Error 404: Object Not Found"; }
<i class="fal fa-bug fr" style="font-size:250%;"></i>
<h1>@ViewBag.Title</h1>
<p>[CS] Požadovaná stránka neexistuje.</p>
<p>[EN] Requested page was not found.</p>